.container {
  color: #222;
  width: 1000px;
  margin: 100px auto 0 auto;
}

.row {
  padding: 10px;
  border-bottom: 1px solid silver;
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* PRODUCT START */

.product {
  display: flex;
  align-items: center;
}

.product__button {
  margin-left: auto;
}

/* PDODUCT END */

/* BUTTON START */

.button {
  cursor: pointer;
  border: 0;
  padding: 6px 12px;
  background-color: #ccc;
  transition: background-color 0.3s;
}

.button:disabled {
  cursor: not-allowed;
}

.button:hover {
  background-color: #aaa;
}

/* BUTTON END */

/* CART START */

.cart {
  position: relative;
}

.cart__name {
  padding: 10px;
}

.cart:hover > .cart__items {
  opacity: 1;
  pointer-events: all;
}

.cart__items {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  min-width: 300px;
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.cart__count {
  min-width: 20px;
  margin: 0 15px;
  text-align: center;
}

.cart__buttons {
  display: flex;
  align-items: center;
}

/* CART END */
